@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ledger:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Sansita:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Muli:400,700,400italic,700italic);

body { font-family: 'Muli', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC'; }
h1, h2, h3 {
  font-family: 'Crimson Text';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
